.display-none {
  display: none;
}

/*
********************
Global CSS Styles
********************
*/

* {
  font-family: 'Muli', sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}
#master {
  margin-top: 15px;
  margin-bottom: 60px;
  padding-top: 69px;
  padding-bottom: 15px;
}
header {
  height: 75px;
  min-height: 75px;
  width: 100%;
  position: absolute;
  top: 0;
  letter-spacing: .1em;
  color: white;
  text-align: center;
  background-color: #009688;
  box-shadow: 0 0 5px gray;
  margin: 0;
  padding: 0;
}
header ul {
  height: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header li {
  height: 75px;
  display:inline-block;
  width: 33.3%;
  float:left;
  cursor:pointer;
}
header h5 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

header div {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 15px;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid whitesmoke;

  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

header #lost-pet div:hover,
header #found-pet div:hover,
.trigger-hover {
  background: white;
  color: teal;
}

.mask {
  background: rgba(0,0,0, 0.6);
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  margin-top: 75px;
  z-index: 200;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10em;
}

.mask div{
  position: relative;
  text-align: center;
  bottom: 0;
}

.mask h1 {
  color: white;
  font-size: 42px;
  text-align: center;
}

body.home-img {
background-image: url('../img/pets-resized.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

#bright {
    color: white;
    background-color: rgba(151, 87, 91, 1);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDBhNWRmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzZTE0N2IiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjIiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTIwMDc5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC40Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2RmMTMyYyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNiIvPjxzdG9wIHN0b3AtY29sb3I9IiNmM2VmMTUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjgiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDA5ODQ3IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(0, 165, 223)),color-stop(0.2, rgb(62, 20, 123)),color-stop(0.4, rgb(226, 0, 121)),color-stop(0.6, rgb(223, 19, 44)),color-stop(0.8, rgb(243, 239, 21)),color-stop(1, rgb(0, 152, 71)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(0, 165, 223) 0%,rgb(62, 20, 123) 20%,rgb(226, 0, 121) 40%,rgb(223, 19, 44) 60%,rgb(243, 239, 21) 80%,rgb(0, 152, 71) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(0, 165, 223) 0%,rgb(62, 20, 123) 20%,rgb(226, 0, 121) 40%,rgb(223, 19, 44) 60%,rgb(243, 239, 21) 80%,rgb(0, 152, 71) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(0, 165, 223) 0%,rgb(62, 20, 123) 20%,rgb(226, 0, 121) 40%,rgb(223, 19, 44) 60%,rgb(243, 239, 21) 80%,rgb(0, 152, 71) 100%);
}

.required {
  color: red;
  font-weight: normal;
}

.search button,
.upload button {
  background-color: #009688;
}

.search button:hover,
.upload button:hover {
  background-color: #26A69A; 
}

/*
END GLOBAL STYLES
--------------------
*/

strong {
  color: red;
}

.home {
  min-height: 80vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .btn {
  width: 150px;
  margin: 50px;

}

#radius-bar {
  background-color: white;
}

.required {
  color: red;
}

.search-header {
  width: 100%;
}

.search-header .panel {
  width: 100%;
}

.search-header .panel-body > span {
  font-size: 1.4em;
  font-weight: bold;
}
.search .form-horizontal {
  margin-top: 35px;
}

span span {
  font-weight: initial;
}

.lost-pet {
  border: 1px solid #ddd;
  border-radius: 1%;
  margin: 5px 0;
  padding: 10px;
}

#map {
  height: 500px;
  width: 100%;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-description {
  position: absolute;
  bottom: 0;
  right: 0;
}

div.lost-pet {
  position: relative;
}

/*
********************
Sighting.js
********************
*/
#hour, #minute {
  padding: 5px 15px;
}

#upload-photo-div {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#upload-photo-div button  {
  height: 180px;
  width: 180px;
  position: relative;
  top: 40px;
  margin: 0 auto;
  color: white;
  border: 10px  inset white;

  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
       -o-border-radius: 50%;
          border-radius: 50%;

  opacity: .8;
  filter: alpha(opacity=80);
  font-size: 1.2em;
}

#upload-photo-div .glyphicon {
  position: relative;
  font-size: 1.75em;
  display: inline-block;
  padding: 15px 0;
}

#previewHolderDiv {
  /*max-height: 200px;*/
  /*background-color: rgba(53,62,79,.8);*/
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

#previewHolder {
  max-width: 100%;
  max-height: 200px;
  box-shadow: 0 1px 1px 2px rgba(53,62,79,.8), 0 1px 1px 2px rgba(53,62,79,.8);
}

#previewHolderButton  {
  display: inline-block;
  text-align: center;
}

#previewHolderButtonDiv button{
  margin-bottom: 20px;
}

.minuteSelectOption, .hourSelectOption {
  display: block;
}

#previewHolder.rotate90 {
  -webkit-transform: rotate(90deg);
      -moz-trasform: rotate(90deg);
       -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);

  max-height: 200px;
  width: auto;
}
#previewHolder.rotate180 {
  -webkit-transform: rotate(180deg);
      -moz-trasform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);

  max-height: 200px;
  width: auto;
}
#previewHolder.rotate270 {
  -webkit-transform: rotate(270deg);
      -moz-trasform: rotate(270deg);
      -ms-transform: rotate(270deg);
       -o-transform: rotate(270deg);
          transform: rotate(270deg);

  max-height: 200px;
  width: auto;
}

textarea {
  resize: none;
}

/* Rotating Refresh Icon for Waiting */
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;

  opacity: .5;
  text-align: center;
  display: block;
  margin-top: 125px;
  font-size: 4em;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


.upload
.animal-photo-div {
  height: 200px;
  margin: 15px auto;
  max-width: 350px;
  cursor:pointer;
}
.upload
.animal-photo-div div {
  height: 100%;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.upload
.animal-photo-div h3 {
  height: 30px;
  display: block;
  background-color: #3A3938;
  position: relative;
  top: 170px;
  color: white;
}

.upload
#Dog {
  background-image: url('../img/dog.jpg');
}
.upload
#Cat {
  background-image: url('../img/cat.jpg')
}
.upload
#Bird {
  background-image: url('../img/bird.jpg')
}
.upload
#Small-Furry{
  background-image: url('../img/furry.jpg')
}
.upload
#Scales-Fins {
  background-image: url('../img/reptile.jpg')
}
.upload
#Barnyard {
  background-image: url('../img/barnyard.jpg')
}

.upload
#upload-camera {
  font-size: 5em;
  color: #009688;
  text-align: center;
  background: white;
  width: 150px;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.upload
#upload-camera .glyphicon {
  display: inline-block;
  padding: 15px 0;
  position: relative;
  top: 30px;
  font-size: 1em;
}

.upload
#upload-animals {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid rgba(0, 150, 136, 0.23);
  margin-bottom: 20px;
}

.upload
#upload-animals h3 {
  background: rgba(119, 118, 117, 0.86);
  color: #FFFFFF;
  font-weight: lighter;
  box-shadow: 1px 1px 1px #1D9490;
  font-size: 1.25em;
  padding: 5px;
}

.upload
#upload-animals .glyphicon {
  font-size: 4em;
  color: #009688;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.5s ease;
   -webkit-transition: all 0.5s ease;
  text-align: center;
  margin: 0 auto;
}
.upload
#upload-animals .glyphicon:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.upload
#upload-animals .glyphicon:active {
  color: white;
}

.color {
  padding: 15px;
  cursor: pointer;
}

.color label, .color input {
  cursor: inherit;
}

.upload #colors label,
.search #colors label {
  padding-left: 15px;
}

#white {
  background-color: whitesmoke;
}
#black {
  background-color: black;
  color: white;
}
#brown {
  background-color: #86561F;
  color: white;
}
#orange {
  background-color: orange;
}
#yellow {
  background-color: yellow;
}
#gray {
  background-color: gray;
  color: white;
}

#color-group {
  margin-left: 25px;
  padding-left: 10px;
}

/*
END SIGHTING
--------------------
*/
